.idea
.gradle
build
*.iml
/centralcontroller/config/extensions
/filecontroller/config/extensions
logs
/secret
/cloudservice-googledrive
/encryptionservice-bouncycastle
/encryptionservice-apachecommonscrypto
/centralcontroller/config/database/centralcontroller.mv.db
/centralcontroller/config/database/centralcontroller.trace.db
/gradle.properties
